# Patterns to ignore when building packages.
# This supports shell glob matching, relative path matching, and
# negation (prefixed with !). Only one pattern per line.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# ignore the custom resource examples
templates/crds/tarantool_*cr.yaml
# Ignore plural definitions, not required
templates/crds/tarantool.io_replicasettemplates_crd.yaml
templates/crds/tarantool.io_roles_crd.yaml
templates/crds/tarantool.io_clusters_crd.yaml
