[package]
name = "tarantool"
description = "Tarantool rust bindings"
version = "0.6.4"
authors = [
    "Dmitriy Koltsov <dkoltsov@picodata.io>",
    "Georgy Moshkin <gmoshkin@picodata.io>",
    "Anton Melnikov <volt0@picodata.io>"
]
edition = "2018"
license = "BSD-2-Clause"
readme = "../README.md"
documentation = "https://docs.rs/tarantool/"
repository = "https://github.com/picodata/tarantool-module"
keywords = ["ffi", "database", "tarantool"]
categories = ["database"]
rust-version = "1.59"

[dependencies]
base64 = "0.13"
bitflags = "1.2"
byteorder = "1.3"
chrono = { version = "0.4.19", optional = true }
derivative = "2.1"
dlopen = "0.1.8"
dec = "0.4.8"
thiserror = "1.0.30"
ipnetwork = { version = "0.18.0", optional = true }
libc = "0.2"
log = "0.4"
nix = "0.24.1"
num-traits = "0.2"
num-derive = "0.3"
once_cell = "1.4.0"
tlua = { path = "../tlua", version = "0.6.1" }
protobuf = { version = "2", optional = true }
raft = { version = "0.6.0", optional = true }
refpool = { version = "0.4.3", optional = true }
rand = { version = "0.8.3", optional = true }
rmp = "0.8"
rmp-serde = "=1.0.0"
rmpv = { version = "^1.0", features = ["with-serde"] }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_bytes = "^0"
sha-1 = "0.9"
tarantool-proc = { path = "../tarantool-proc", version = "0.1.1" }
uuid = "0.8.2"

[target.'cfg(not(all(target_arch = "aarch64", target_os = "macos")))'.dependencies]
va_list = "0.1.3"

[features]
default = ["net_box"]
net_box = ["refpool"]
raft_node = ["chrono", "ipnetwork", "net_box", "protobuf", "raft", "rand"]
schema = []
defer = []
picodata = []
all = ["default", "raft_node", "schema", "defer"]
