name: Synchronization
on: [push]
jobs:
  synchronization:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2
        with:
          key: ${{ secrets.PUSH_PRIVATE_KEY }}
          name: id_rsa
          known_hosts: ${{ secrets.KNOWN_HOSTS }}
          if_key_exists: replace
      - name: Set remote url
        run: git remote set-url --push origin git@git.picodata.io:picodata/picodata/tarantool-module.git
      - name: Push files
        run: git push
